My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1yoyh4Sh5eDgGF01xSWyjuwKlNWU-Pk_RyuZfMQFCsLc",
          "mode": "list",
          "cachedResultName": "กรอกแบบฟอร์มหางาน ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yoyh4Sh5eDgGF01xSWyjuwKlNWU-Pk_RyuZfMQFCsLc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 818795498,
          "mode": "list",
          "cachedResultName": "การตอบแบบฟอร์ม 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yoyh4Sh5eDgGF01xSWyjuwKlNWU-Pk_RyuZfMQFCsLc/edit#gid=818795498"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        -80
      ],
      "id": "c8b80683-f550-4014-b30d-092f52aa6a98",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ytCZYVGruPpa6tAm",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "เวลาที่ตรงกัน\n",
        "options": {
          "systemMessage": "กรุณาช่วยตรวจสอบข้อมูลจากทั้งสองชีต และเลือกเฉพาะรายการที่มี \"เวลาที่ตรงกัน\" จากทั้งสองฝั่ง โดยดูจากฟิลด์ชื่อว่า \"เวลาที่ตรงกัน\"\n\nเมื่อพบรายการที่ตรงกัน ให้วิเคราะห์ข้อมูลเหล่านั้น และแสดงรายละเอียดดังนี้:\n-เวลา"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -480,
        -80
      ],
      "id": "199a097e-27eb-4b83-b713-cd085cc28576",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1sPUyKLDO2KSJJhsSVCvtL2bbDtu7gJb9JoEs8CNXy6U",
          "mode": "list",
          "cachedResultName": "รับสมัครงาน",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sPUyKLDO2KSJJhsSVCvtL2bbDtu7gJb9JoEs8CNXy6U/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        -80
      ],
      "id": "6509cacd-e28f-4ef6-9aa5-f8626e8c8df3",
      "name": "Create sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yVcFj3QI2XDS6BJk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ $('Google Sheets Trigger').item.json['E-mail'] }}",
        "subject": "การทำงาน",
        "message": "ผ่าน",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        80,
        -80
      ],
      "id": "dc57ff50-e4ed-4b11-91b1-f568eb838e77",
      "name": "Send message and wait for response",
      "webhookId": "56884914-5fbb-42e8-afc8-f351d5be61f4",
      "credentials": {
        "gmailOAuth2": {
          "id": "VSi7R5oSBhZ8m34k",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -624,
        128
      ],
      "id": "4e27613b-17e9-4ebb-bd55-a2cf9543a46f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NYd7JgIHKHOfg4NV",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a6f04694-f5e5-49dc-8b7f-96abfdd1ee4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99e4848498f304425c5f8c82e29f961e732b96d3de1e7e1e42bfd499eec21f05"
  },
  "id": "quVpsnUApSIibMx1",
  "tags": []
}